<launch>
    <node pkg="rosbag" type="play" name="player" required="true" output="screen" args="-l /home/jai/catkin_ws/ros-bags/10MayCampus.bag" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d /home/jai/catkin_ws/src/multiple-object-tracking-lidar/nuway_objects.rviz"/>

    <node name="kf_tracker" pkg="multi_object_tracking_lidar" type="kf_tracker" >
        <param name="cloud_topic" value="/scan_matched_points2" />
        <param name="output_frame" value="/map" />
        <param name="cube_size" value="1.0" />
    </node>

    <node pkg="datmo" type="datmo" name="datmo" output="screen">
        <param name="scan_topic" value="/scan_all" />
        <param name="lidar_frame" value="base_link" />
        <param name="world_frame" value="map" />
        <param name="threshold_distance" value="1" />
        <param name="euclidean_distance" value="1.25" />
        <param name="pub_markers" value="true" />
    </node>
</launch>
